* {
}

body {
  background-color: rgb(141, 165, 149);
  font-family: monospace;
  color: black;
}

.image {
  border-radius: 50%;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
